<div class="users-container w-full">
    <div class="header w-full flex items-center justify-between" style="margin-bottom: 60px;">
        <div class="current-path">
            <app-navbar [pageTitle]="title()" />
        </div>
        <div class="w-[150px]">
            <button class="w-full h-[30px] flex items-center justify-center gap-1 text-xs text-white font-semibold rounded-md bg-blue-600 cursor-pointer" (click)="navigateTo('user/form')">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-plus-icon lucide-user-round-plus">
                    <path d="M2 21a8 8 0 0 1 13.292-6"/>
                    <circle cx="10" cy="8" r="5"/>
                    <path d="M19 16v6"/>
                    <path d="M22 19h-6"/>
                </svg>
                Ajouter utilisateur
            </button>
        </div>
    </div>

    <div>
        <app-user-card />
    </div>

    <div class="users-list w-full">
        <h3 class="text-xl text-gray-700 font-semibold" style="margin-bottom: 20px;">Liste des utilisateurs</h3>
        <app-user-list />
    </div>
</div>