<div class="upload-container w-[250px]">
    <form class="w-full" [formGroup]="uploadForm()" (ngSubmit)="onUpload()">
        <div *ngIf="hasCategory()" class="w-full" style="margin-bottom: 10px;">
            <label class="text-xs font-semibold">Catégorie du fichier</label>
            <select name="categoryFile" id="categoryFile" formControlName="categoryFile" class="w-full text-xs font-semibold border border-gray-300 rounded-md p-2 cursor-pointer" style="padding: 5px 0;">
                <option value="">Sélectionnez une catégorie</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.label }}</option>
            </select>
        </div>
        <input type="file" formControlName="image" class="w-full text-xs font-semibold border border-gray-300 rounded-md p-2 cursor-pointer" style="padding: 5px 0; margin-bottom: 10px;" (change)="onImageSelected($event)">

        <div>
            <button
                type="button"
                [ngClass]="{
                    'bg-green-600 text-white border-green-600': uploadForm().valid,
                    'bg-gray-300 text-gray-500 border-gray-300 cursor-not-allowed': !uploadForm().valid
                }"
                class="w-full text-xs font-semibold border shadow-sm rounded-md p-2 cursor-pointer"
                style="padding: 5px 0;"
                (click)="onUpload()"
            >
                @if (isLoading()) {
                    <span class="flex items-center justify-content">
                        <span class="animate-spin rounded-full h-4 w-4 border-b-2 border-white mr-2"></span>
                        Uploading...
                    </span>
                } @else {
                    Uploader
                }
            </button>
        </div>
    </form>
</div>