<div class="user-form-container w-full h-full">
    <div class="header w-full">
        <app-navbar [pageTitle]="title()" />
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="w-[630px] h-auto flex items-start justify-start flex-col gap-4">
        <!-- Nom et prénom -->
        <div class="input-group w-full flex items-start justify-between flex-wrap gap-2">
            <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                <label for="firstName" class="text-xs text-gray-600 font-semibold">Nom <span class="text-red-600">*</span></label>
                <input type="text" formControlName="firstName" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                <div *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.touched || userForm.get('firstName')?.dirty)" class="text-xs text-red-600">Nom requis</div>
            </div>
            <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                <label for="lastName" class="text-xs text-gray-600 font-semibold">Prénom <span class="text-red-600">*</span></label>
                <input type="text" formControlName="lastName" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                <div *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.touched || userForm.get('lastName')?.dirty)" class="text-xs text-red-600">Prénom requis</div>
            </div>
            <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                <label for="phone" class="text-xs text-gray-600 font-semibold">Téléphone <span class="text-red-600">*</span></label>
                <input type="tel" formControlName="phone" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)" class="text-xs text-red-600">Téléphone requis</div>
            </div>
            <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                <label for="birthDate" class="text-xs text-gray-600 font-semibold">Date de naissance <span class="text-red-600">*</span></label>
                <input type="date" formControlName="birthDate" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                <div *ngIf="userForm.get('birthDate')?.invalid && (userForm.get('birthDate')?.touched || userForm.get('birthDate')?.dirty)" class="text-xs text-red-600">date de naissance requis</div>
            </div>
            <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                <label for="email" class="text-xs text-gray-600 font-semibold">Adresse Mail</label>
                <input type="email" formControlName="email" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
            </div>
            <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                <label for="adress" class="text-xs text-gray-600 font-semibold">Localisation <span class="text-red-600">*</span></label>
                <input type="text" formControlName="adress" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                <div *ngIf="userForm.get('adress')?.invalid && (userForm.get('adress')?.touched || userForm.get('adress')?.dirty)" class="text-xs text-red-600">Localisation requis</div>
            </div>
        </div>

        <!-- information CNI -->
        <div class="input-group">
            <div class="text-sm text-gray-600 font-semibold" style="margin-bottom: 15px;">Possédez-vous une CNI ?</div>
            <div class="input-box  flex items-start justify-start gap-4">
                <div class="input-field flex items-center justify-start gap-2">
                    <input type="checkbox" class="cursor-pointer" width="20" height="20" (click)="checkCNI('oui')" [checked]="hasCNI() === 'oui'">
                    <label class="text-xs text-gray-600 font-semibold">oui</label>
                </div>
                <div class="input-field flex items-center justify-start gap-2">
                    <input type="checkbox" class="cursor-pointer" width="20" height="20" (click)="checkCNI('non')" [checked]="hasCNI() === 'non'">
                    <label class="text-xs text-gray-600 font-semibold">non</label>
                </div>
            </div>
        </div>

        @if (hasCNI() === 'oui') {
            <div class="input-group w-full flex items-start justify-between flex-wrap gap-2">
                <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                    <label for="cniNumber" class="text-xs text-gray-600 font-semibold">Numéro CNI <span class="text-red-600">*</span></label>
                    <input type="text" formControlName="cniNumber" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                </div>
                <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                    <label for="cniExpireDate" class="text-xs text-gray-600 font-semibold">Date d'expiration CNI <span class="text-red-600">*</span></label>
                    <input type="date" formControlName="cniExpireDate" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                </div>
            </div>
        }

        <!-- Informations de Permis -->
        <div class="input-group">
            <div class="text-sm text-gray-600 font-semibold" style="margin-bottom: 15px;">Possédez-vous un permis de conduire ?</div>
            <div class="input-box  flex items-start justify-start gap-4">
                <div class="input-field flex items-center justify-start gap-2">
                    <input type="checkbox" class="cursor-pointer" width="20" height="20" (click)="checkLicence('oui')" [checked]="hasLicence() === 'oui'">
                    <label class="text-xs text-gray-600 font-semibold">oui</label>
                </div>
                <div class="input-field flex items-center justify-start gap-2">
                    <input type="checkbox" class="cursor-pointer" width="20" height="20" (click)="checkLicence('non')" [checked]="hasLicence() === 'non'">
                    <label class="text-xs text-gray-600 font-semibold">non</label>
                </div>
            </div>
        </div>

        @if (hasLicence() === 'non') {
            <div class="input-group">
                <div class="text-sm text-gray-600 font-semibold" style="margin-bottom: 15px;">Acceptez-vous être débité pour les frais du permis ?</div>
                <div class="input-box  flex items-start justify-start gap-4">
                    <div class="input-field flex items-center justify-start gap-2">
                        <input type="checkbox" class="cursor-pointer" width="20" height="20">
                        <label class="text-xs text-gray-600 font-semibold">oui</label>
                    </div>
                    <div class="input-field flex items-center justify-start gap-2">
                        <input type="checkbox" class="cursor-pointer" width="20" height="20">
                        <label class="text-xs text-gray-600 font-semibold">non</label>
                    </div>
                </div>
            </div>
        } @else {
            <div class="input-group w-full flex items-start justify-between flex-wrap gap-2">
                <div class="input-field w-[300px] flex items-start jutify-start flex-col gap-2">
                    <label for="driverLicenceExpireDate" class="text-xs text-gray-600 font-semibold">Date d'expiration du permis <span class="text-red-600">*</span></label>
                    <input type="date" formControlName="driverLicenceExpireDate" class="w-full text-xs font-semibold border border-gray-300 rounded-md" required>
                </div>
            </div>
        }


        <div class="input-group w-full flex items-start justify-between flex-wrap gap-4">
            <button class="w-[300px] flex items-center justify-center gap-2 text-xs text-red-600 font-semibold bg-red-100 rounded-md cursor-pointer" (click)="onCancel()">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
                    <path d="M18 6 6 18"/>
                    <path d="m6 6 12 12"/>
                </svg>
                Annuler
            </button>
            <button class="w-[300px] flex items-center justify-center gap-2 text-xs text-green-600 font-semibold bg-green-100 rounded-md cursor-pointer">
                @if (isLoading()) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-icon lucide-loader">
                        <path d="M12 2v4"/>
                        <path d="m16.2 7.8 2.9-2.9"/>
                        <path d="M18 12h4"/>
                        <path d="m16.2 16.2 2.9 2.9"/>
                        <path d="M12 18v4"/>
                        <path d="m4.9 19.1 2.9-2.9"/>
                        <path d="M2 12h4"/>
                        <path d="m4.9 4.9 2.9 2.9"/>
                    </svg>
                    Enregistrement en cours...
                } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check">
                        <path d="M20 6 9 17l-5-5"/>
                    </svg>
                    Enregistrer
                }
            </button>
        </div>
    </form>
</div>