<div class="quiz-container">
    <div class="header">
        <app-navbar [pageTitle]="title()" />
        <button class="w-[200px] text-xs text-white font-semibold bg-blue-600 rounded-md cursor-pointer" (click)="toggleVisibility()">Ajouter un quiz</button>
    </div>
    
    <div class="quiz-list w-full flex items-start justify-between gap-4">
        <div class="col-1">
            <h2 class="text-xl font-semibold" style="margin-bottom: 20px;">Quiz Disponibles</h2>
            <app-quiz-list />
        </div>
        <div class="col-2">
            <app-quiz-form />
        </div>
    </div>
</div>