.quiz-container {
  width: 100%;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;

    button {
      padding: 5px 0;
    }
  }
}