<div class="w-full border-b border-gray-300" style="margin-bottom: 30px; padding: 5px 0;">
  <app-navbar [pageTitle]="'Types de véhicules'" />
</div>

<div style="margin: 30px 0;">
  <app-card-stat [tagText]="'nouveau'" [tagType]="'success'" [text]="'Nombre de types de véhicules'" [count]="carTypesList().length" />
</div>

<div class="card" style="padding: 0 10px;">
  <div class="w-full flex items-center justify-between mb-4" style="margin-bottom: 35px;">
    <h2 class="text-2xl font-semibold" style="color: #0c5460;">Manage File Types</h2>

    <button
        class="w-[150px] h-[35px] flex items-center justify-center gap-2 text-xs text-blue-600 font-semibold border border-blue-300 shadow-sm rounded-md cursor-pointer transition duration-200 hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
        (click)="addNew()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
            <path d="M5 12h14"/>
            <path d="M12 5v14"/>
        </svg>
        Nouveau Type
    </button>
  </div>

  <div class="w-full max-w-[900px] flex items-end justify-end" style="margin-bottom: 10px;">
    <button
        class="w-[120px] h-[30px] flex items-center justify-center gap-2 text-xs text-gray-600 font-semibold border border-gray-300 shadow-sm rounded-md cursor-pointer transition duration-200 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2"
        (click)="loadCarTypes()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-cw-icon lucide-refresh-cw">
            <path d="M23 4v6h-6"/>
            <path d="M1 20v-6h6"/>
            <path d="M3.51 9a9 9 0 1 1 0 6"/>
            <path d="M20.49 15a9 9 0 1 1 0-6"/>
        </svg>
        Rafraîchir
    </button>
  </div>

  <div *ngIf="isLoading()" class="w-full max-w-[900px] text-xs text-red-600 font-semibold flex items-end justify-end gap-3" style="margin-bottom: 10px;">
    <svg class="animate-spin h-5 w-5 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
    Suppression en cours...
  </div>

  <table class="w-full max-w-[900px] bg-white border border-gray-300 rounded-md shadow-sm">
    <thead class="w-full bg-gray-200 border-b border-gray-300" style="padding-bottom: 10px;">
      <tr style="padding: 10px 0;">
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">ID</td>
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">Désignation</td>
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">Quantité d'alerte</td>
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">Nombre de conducteurs</td>
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">Date de création</td>
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">Date de modification</td>
        <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">Actions</td>
      </tr>
    </thead>
    <tbody>
      @if (isFetching()) {
        <tr colspan="8" class="w-full border-b border-gray-300" style="padding: 10px 0;">
          <td class="w-full flex items-center justify-center gap-2 text-xs text-gray-600 font-semibold" style="padding: 10px 0;">
            <svg class="animate-spin h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Chargement des types de véhicules...
          </td>
        </tr>
      }
      @else {
        @for (t of carTypesList(); track $index) {
          <tr class="w-full border-b border-gray-300" style="padding: 10px 0;">
            <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">{{ t.id }}</td>
            <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">{{ t.label }}</td>
            <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">{{ t.alertQuantity }}</td>
            <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">{{ t.drivers.length }}</td>
            <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">{{ t.createdAt | date:'short'}}</td>
            <td class="text-xs text-gray-600 font-semibold text-center" style="padding: 10px 0;">{{ t.updatedAt | date:'short'}}</td>
            <td class="flex items-center justify-center gap-3" style="padding: 10px 0;">
              <button class="cursor-pointer" (click)="editCarType(t)">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pen-icon lucide-pen">
                    <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/>
                </svg>
              </button>
              <button class="cursor-pointer" (click)="deleteCarType(t)">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                    <path d="M4 7h16"/>
                    <path d="M10 11v6"/>
                    <path d="M14 11v6"/>
                    <path d="M5 7l1.5 12a2 2 0 0 0 2 1.5h7a2 2 0 0 0 2-1.5L19 7"/>
                    <path d="M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3"/>
                </svg>
              </button>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<p-dialog [(visible)]="displayDialog" [style]="{width: '450px', border: '1px solid #ccc', padding: '1rem', backgroundColor: 'white', borderRadius: '10px'}" header="Type de véhicule" [modal]="true" styleClass="p-fluid">
    <form [formGroup]="carTypeForm" (ngSubmit)="onSubmit()" class="w-full flex items-center justify-center flex-col gap-4" style="margin-top: 15px;">
        <div class="w-full flex items-start justify-start flex-col gap-2 field">
          <label class="text-xs text-gray-600 font-semibold" for="label">Titre</label>
          <input
            type="text"
            id="label"
            formControlName="label"
            class="w-full h-[35px] text-xs text-gray-700 font-semibold border-2 border-gray-300 rounded-md"
            style="padding-left: 10px;"
            [placeholder]="isNew() ? '' : carType()?.label"
            autofocus
            />
        </div>

        <div class="w-full flex items-start justify-start flex-col gap-2 field">
          <label class="text-xs text-gray-600 font-semibold" for="alertQuantity">Quantité d'alerte</label>
          <input
            type="number"
            id="alertQuantity"
            formControlName="alertQuantity"
            class="w-full h-[35px] text-xs text-gray-700 font-semibold border-2 border-gray-300 rounded-md"
            style="padding-left: 10px;"
            [placeholder]="isNew() ? '' : carType()?.alertQuantity"
            autofocus
            />
        </div>

        <!-- Loader -->
        <div *ngIf="isLoading()" class="w-full flex items-center justify-center" style="margin: 15px 0;">
          <svg class="animate-spin h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <p class="text-xs text-gray-600 font-semibold">Enregistrement en cours...</p>
        </div>

        <!-- Toast message -->
        <div *ngIf="hasMessage()" style="margin: 15px 0;">
          <app-toast-message [state]="state()" [message]="message()" />
        </div>

        <div class="w-full flex items-center justify-between gap-3 flex-wrap">
          <button class="w-[200px] h-[35px] text-xs text-gray-600 font-semibold border-2 border-gray-600 shadow-sm rounded-md cursor-pointer" (click)="displayDialog.set(false)">Annuler</button>
          <button
            type="submit"
            class="w-[200px] h-[35px] text-xs text-green-600 font-semibold border-2 border-green-600 shadow-sm rounded-md cursor-pointer"
            >
              @if(isNew()) {
                Enregistrer
              }
              @else {
                Modifier
              }
            </button>
        </div>
    </form>
</p-dialog>