.driver-details-container {
    width: 100%;

    .header { margin-bottom: 35px; }
    .profile-picture,
    .personal-info,
    .cni-info {
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px dashed lightgray;

        h3 {
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}