.driver-details-container {
    width: 100%;

    .profile-picture { margin-bottom: 30px; }

    .header { margin-bottom: 35px; }
    .profile-picture,
    .personal-info,
    .cni-info {
        &:not(.profile-picture) {
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 2px solid lightgray;
            background-color: white;
        }

        h3 {
            font-size: 20px;
            color: #0c5460;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}