<div class="guarantor-list-container w-full bg-white rounded-md">
    <p-table [value]="guarantors()" class="w-full" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]">
        <ng-template #header>
            <tr class="w-full bg-gray-100">
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Nom</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Prénom</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Téléphone</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Adresse</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Numéro CNI</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Expiration CNI</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Relation du garant</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Actions</td>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.firstName }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.lastName }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.phone }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.adress }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.cniNumber }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.cniExpireDate }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 15px;">{{ user.guarandAffiliation }}</td>
                <td class="text-xs text-center text-gray-600 font-semibold" style="padding: 15px;">
                    <div class="w-full flex items-center justify-center gap-4">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
                                <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
                                <circle cx="12" cy="12" r="3"/>
                            </svg>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
                                <path d="M3 6h18"/>
                                <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                            </svg>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>