.toast-message {
    padding: 10px 0;
    
    &.success {
        color: green;
        background-color: #e6fee6;
    }
    &.error {
        color: crimson;
        background-color: #ffe9e9;
    }
}