.table-container {
    padding: 7px;

    .search {
        div > .search-options {
            #email-option:hover {
                color: white;
                background-color: black;
            }
        }
    }
}