.table-container {
    padding: 7px;

    .search {
        div > .search-options {

            #email-option, #phone-option {
                &.selected {
                    color: white;
                    background-color: black;
                    transition: all 0.3s ease-in;
                }
            }

        }
    }
}