<div class="table-container w-full flex items-start justify-start flex-wrap gap-4">
    @if (driversList() && driversList().length > 0) {
        @for (d of driversList(); track d.id) {
            <app-user-card [id]="d.id" [driver]="d" />
        }
    }
    <!--
    <p-table [value]="driversList()" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" class="p-datatable-sm">
        <ng-template #header>
            <tr class="w-full bg-gray-100">
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Nom</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Téléphone</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Email</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">date de Naissance</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Adresse</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Numéro CNI</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Expiration CNI</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Expiration Permis</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Localisation</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">action</td>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.fullName }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.phone }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.email }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.birthDate }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.adress }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.cniNumber }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.cniExpireDate }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.driverLicenceExpireDate }}</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 20px;">{{ user.location }}</td>
                <td class="text-xs text-center text-gray-600 font-semibold cursor-pointer" style="padding: 20px;" (click)="navigateToDetails(user.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
                        <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                </td>
            </tr>
        </ng-template>
    </p-table>
    -->
</div>