$sidebar-width: 250px;

.main-container {
    background-color: #f4f4f4;

    .sidebar {
        width: $sidebar-width;
    }
    .main-content {
        width: calc(100% - $sidebar-width);
        padding: 10px;
        overflow-y: auto;
        scrollbar-width: none;
    }
}