$sidebar-width: 220px;

.main-container {
    background-color: #ffffff;

    .sidebar {
        width: $sidebar-width;
    }
    .main-content {
        width: calc(100% - $sidebar-width);
        padding: 30px 10px;
        overflow-y: auto;
        scrollbar-width: none;
    }
}