.guarantor-form-container {
    .header { margin-bottom: 35px; }

    form {
        .input-group {
            .input-field {
                input {
                    padding: 10px;
                }
            }

            button {
                padding: 9px 0;
            }
        }
    }
}