<div class="quiz-list-container w-full bg-white rounded-md">
    <div *ngIf="isLoading()" class="w-full flex items-end justify-end gap-2 text-xs text-red-600 font-semibold">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-icon lucide-loader">
            <path d="M12 2v4"/>
            <path d="m16.2 7.8 2.9-2.9"/>
            <path d="M18 12h4"/>
            <path d="m16.2 16.2 2.9 2.9"/>
            <path d="M12 18v4"/>
            <path d="m4.9 19.1 2.9-2.9"/>
            <path d="M2 12h4"/>
            <path d="m4.9 4.9 2.9 2.9"/>
        </svg>
        suppression en cours...
    </div>
    <table class="w-full">
        <thead>
            <tr class="w-full bg-gray-100">
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Titre</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Score Minimum</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Score Total</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Score Maximum</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">Date de création</td>
                <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;"></td>
            </tr>
        </thead>
        <tbody>
            @for (q of quizzes(); track q.id) {
                <tr class="w-full border-b border-gray-300">
                    <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">{{ q.title }}</td>
                    <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">{{ q.minAvrage }}</td>
                    <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">{{ q.totalAvrage }}</td>
                    <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">{{ q.maxAvrage }}</td>
                    <td class="text-xs text-gray-600 font-semibold" style="padding: 10px;">{{ q.createdAt }}</td>
                    <td class="text-xs text-gray-600 font-semibold cursor-pointer" (click)="onDelete(q.id)" style="padding: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
                            <path d="M3 6h18"/>
                            <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                        </svg>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>